@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
  #printable-report {
    max-height: none !important;
    overflow: visible !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }
}
